/* App.css */
/* Dark Theme Styles */

.App {
  font-family: "Roboto", sans-serif;
  background-color: #121212; /* Dark background for the app */
  color: #e0e0e0; /* Lighter text color for readability */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1c1c1c; /* Slightly lighter dark shade for header */
  padding: 20px;
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App-section {
  flex: 1;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #1c1c1c; /* Matching the header color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Soft white shadow for depth */
}

.App-footer {
  background-color: #1c1c1c; /* Matching the header and section colors */
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.button-hover-effect:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .App-header,
  .App-footer {
    padding: 15px;
  }
}
